
.open-sans-normal> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
   font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* header image */
.header{
  background-image: url('../images/developer.png'), url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: top left , bottom right;
  /* margin: 38px 0 25px 23px; */
}
/* shared color */
.text-primary{
  color: #FD6E0A;
}
.dark-2{
  color: #757575;
}
.btn-primary{
  background-color: #FD6E0A;
  color: white;
  padding: 18px 36px;
  border-style: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}
/* nav style  */

nav  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
  
}
nav  ul{
  display: flex;
  align-items: center;
}
.nav-title{
  font-weight: 800;
  font-size: 45px;
}
nav ul li {
  list-style: none;
  margin-right: 50px;

}
nav ul li a{
  text-decoration: none;
  font-size: 20px;
 
}
/* banner style */
.banner-greetings{
  font-size: 45px;
  font-weight: 500;
  color: #474747;

}
.banner-title{
  font-size: 80px;
  font-weight: 700;
  
}
.banner-description{
  font-size: 18px;
  font-weight: 400;
  color: #757575;
}
.banner-image{
  width: 580px;
  height: 670px;
}
.banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 35px 0 230px;
}

